@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a href="/Home/Privacy">Privacy Page</a> to view the latest Date and Time of entry and IP address of the user.</p>
</div>
